footer {
    background-color: #d8a4a4;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content p {
    margin-bottom: 10px;
}

.footer-content ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
}

.footer-content ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-content ul li a {
    text-decoration: none;
    color: #faf7f7;
}

.footer-content p:last-child {
    margin-top: 10px;
}