footer {
    background-color: #d8a4a4;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content p {
    margin-bottom: 10px;
}

.footer-content ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
}

.footer-content ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-content ul li a {
    text-decoration: none;
    color: #faf7f7;
}

.footer-content p:last-child {
    margin-top: 10px;
}
.Hero {
    display: flex;
    align-items: center;
    /* background-color: #f2f2f2; */
    padding: 10px;
}

.right-side {
    width: 50%;
    justify-content: center;
    object-fit: contain;
    align-items: center;
}
.left-side {
    width: 50%;
    justify-content: center;
    align-items: center;
}
.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #f2f2f2; */
    padding: 10px;
    box-shadow: 0px 1px 3px #131575;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
}

.linksContainer ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.linksContainer li {
  margin-right: 10px;
}
 
.link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.reactcontainer {
    padding: 40px;
}
.reactfact {
    display: block;
    width: 550px;
    margin-right: auto;
    margin-left: auto;
    background-color: #282D35;
    color: white;
}
.reacfactnav {
    display: flex;
    justify-content: space-between;
    padding: 26px;
    background-color: #21222A;

}
.reactfactmain {
    padding: 57px 27px;
}
.namelogo{
    display: flex;
    align-items: center

}
.namelogo > h3 {
  margin-left: 7px;
  color: #61DAFB;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.113px;
}
.logo2{
    width: 29px;
    height: 29px;

}
.linksContainer {
    color: #DEEBF8;
    text-align: right;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}